@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

/*
	Site Documentation
*/

/* Basic */

	body {
		background: #222222;
	}

		body.loading * {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	body, input, select, textarea {
		color: #10213a;
		font-family: 'Verdana', 'Comic sans ms', 'Open Sans', 'sans-serif';
		font-size: 12pt;
		font-weight: 300;
		line-height: 1.65em;
		text-align: justify;
		text-justify: inter-word;
	}

	a {
		color: #6eaf98;
		text-decoration: underline;
	}

	strong, b {
		font-weight: 700;
	}

	em, i {#6eaf98
		font-style: italic;
	}

	p, ul, ol, dl, table, blockquote {
		margin: 0 0 2em 0;
	}

	p {
		line-height: 1.8em;
	}

		p.medium {
			font-size: 1.4em;
		}

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-weight: 700;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border-top: solid 1px #82b440;
		border: 0;
		margin-bottom: 1.5em;
	}

	blockquote {
		border-left: solid 0.5em #82b440;
		font-style: italic;
		padding: 1em 0 1em 2em;
	}

	section.special, article.special {
		text-align: center;
	}

	header.major {
		padding-bottom: 3em;
		text-align: center;
	}

		header.major h2 {
			font-size: 2.6em;
			font-weight: 700;
		}

		header.major .byline {
			display: block;
			padding-top: 0.6em;
			letter-spacing: 1px;
			font-size: 1.2em;
		}

	footer > :last-child {
		margin-bottom: 0;
	}

	footer.major {
		padding-top: 3em;
	}

	/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="date"],
	input[type="number"],
	textarea,
	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: none;
		border: solid 1px #6eaf98;
		color: inherit;
		display: none;
		outline: 0;
		padding: 0.75em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="date"]:focus,
		input[type="number"]:focus,
		textarea:focus,
		select:focus {
			border-color: #44b3e8;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="date"],
	input[type="number"],
	select {
		line-height: 1em;
	}

	::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.5;
		position: relative;
		top: 3px;
	}

	:-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	::-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	:-ms-input-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	.formerize-placeholder {
		color: rgba(85, 85, 85, 0.5) !important;
	}

	/* Image */

	.image {
		border: 0;
		position: relative;
	}

		.image.fit {
			display: block;
		}

			.image.fit img {
				display: block;
				width: 100%;
			}

		.image.feature {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.feature img {
				display: block;
				width: 100%;
			}

	/* Icon */

	.icon {
		position: relative;
	}

		.icon:before {
			content: "";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

	/* Lists */

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

	ul.default {
		margin: 0;
		padding: 0;
		list-style: none;
	}

		ul.default li {
			padding: 0.40em 0em;
		}

	ul.icons {
		cursor: default;
		padding-bottom: 2em;
	}

		ul.icons li {
			display: inline-block;
			line-height: 1em;
			padding: 0.5em 1em;
		}

			ul.icons li:first-child {
				padding-left: 0;
			}

			ul.icons li span {
				display: none;
			}

			ul.icons li a {
				text-decoration: none;
				font-size: 2em;
				color: inherit;
				opacity: 0.2;
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
			}

			ul.icons li a:hover {
				color: inherit;
				opacity: 1;
			}

	ul.actions {
		cursor: default;
	}

		ul.actions:last-child {
			margin-bottom: 0;
		}

		ul.actions li {
			display: inline-block;
			padding: 0 0 0 1.5em;
		}

			ul.actions li:first-child {
				padding: 0;
			}

		ul.actions.vertical li {
			display: block;
			padding: 1.5em 0 0 0;
		}

			ul.actions.vertical li:first-child {
				padding: 0;
			}

	ul.special-icons {
		margin: 0em;
		padding: 0em;		
	}

		ul.special-icons > li {
			position: relative;
			padding: 0.50em 0em 0.50em 0em;
		}

		ul.special-icons > li:before {
			position: absolute;
			left: 0;
			top: 2em;
			display: block;
			background: none;
			font-size: 2em;
			border-radius: 5px;
		}

		ul.special-icons > li:first-child {
			border-top: none;
		}

		ul.special-icons h3 {
			margin-bottom: 0.80em;
			line-height: 2em;
			font-weight: 700;
			font-size: 1.2em;
		}

		ul.special-icons span {
			line-height: 190%;
		}

		ul.special-icons .fa {
			float: left;
			display: inline-block;
			padding-right: 1em;
			font-size: 1.4em;
			color: #6eaf98;
		}

		ul.special-icons p {
			padding-left: 2.7em;
		}

	/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr {
				border-bottom: solid 1px #82b440;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				font-weight: 700;
				padding: 0.5em 1em 0.5em 1em;
				text-align: left;
			}

			table.default thead {
				background: #555555;
				color: #fff;
			}

	/* Button */
	
	.alignleft {
		float: left;
	}
	.alignright {
		float: right;
	}
	.registration
	{
		
	}


	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: none;
		border-radius: none;
		border: 2px solid;
		border-color: #6eaf98;
		color: #6eaf98;
		cursor: pointer;
		padding: 0.2em 0.5em; 
		letter-spacing: 0.8px;
		text-align: center;
		text-decoration: none;
		font-size: 1em;
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
		-ms-transition: all 0.35s ease-in-out;
		transition: all 0.35s ease-in-out;
		border-radius: 25px;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background: #44b3e8;
			color: white;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		.button.alt {
			border-color: inherit;
			color: inherit;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			.button.alt:hover {
				background: white;
				color: #82b440;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,	
		input[type="button"].fit,
		.button.fit {
			width: 20%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
		}

	/* Wrapper */

	.wrapper {
		padding: 4em 0em 4em 0em;
	}

		.wrapper.style1 {
			padding: 0em;
			background: #f2f2f2;
			background-size: cover;
			position: relative;
			z-index: 1;
		}

		.wrapper.style2 {
			background: #f2f2f2;
		}

			.wrapper.style2 .major {
				text-align: left !important;
				border:0.2em;
				border-color:  #82b440;
				border-style: solid;
				padding-left: 0.7em;
				padding-right: 0.7em;
				box-shadow: -2px 4px 11px -1px #000000;
				padding-top: 1em;
			}

				.wrapper.style2 .major h2 {
					display: block;
					margin-bottom: 0.70em;
					letter-spacing: 1px;
					line-height: 1.4em;
					font-size: 1.8em;
					font-weight: 400;
				}

				.wrapper.style2 .major .byline {
					letter-spacing: normal;
					line-height: 1.6em;
					text-transform: capitalize;
					font-size: 1.4em;
				}

			.wrapper.style2 h3 {
				display: block;
				margin-bottom: 1em;
				letter-spacing: 1px;
				line-height: 1.4em;
			}

		.wrapper.style3 {
			padding-bottom: 6em;
			background: #10213a;
			text-align: center;
			color: white;
		}

			.wrapper.style3 .container {
				padding-left: 6em;
				padding-right: 6em;
			}

			.wrapper.style3 p {
				font-size: 1.6em;
			}

		.wrapper.style4 {
			 background: #f2f2f2; 
		}
		
		.wrapper.style5 {
			background: #10213a;
			text-align: center;
			color: white;
		}

			.wrapper.style5 .image {
				display: block;
				width: 60%;
				margin: 0em auto 2em auto;
			}

				.wrapper.style5 .image img {
					border-radius: 50%;
					border: 10px solid;
					border-color: white;
				}

	.top-menu {
		position: fixed !important;
		width: 100% !important;
	}
	
	.second-element-after-menu {
		padding-top: 13em !important;
	}
	
	.question-font {
	}
	
	.answer-font {
	}
	
	/* Header */

	#header {
		min-height: 3em;
		height: auto;
		background: #a8cdf4;
		position: relative;
		z-index: 2;
	    box-shadow: 0px 1px 16px 0px #000000;
		font-size: 1.0em;
	}

		#header .container {
			position: relative;
		}
.wrapper.style3
	.page #logo {
		display: none;
	}

	.page #nav {
		position: static;
		right: none;
		text-align: center;
	}

	#logo {
		line-height: 2em;
		letter-spacing: 2px;
		font-size: 2em;
		font-weight: 400;
	}

		#logo h1 {
			display: inline-block;
			margin: 0;
			padding: 0;
		}

		#logo a {
			color: inherit;
		}

	#nav {
		position: absolute;
		top: 0;
		right: 0;
	}

		#nav > ul {
			margin: 0;
		}

			#nav > ul > li {
				border-radius: 4px;
				display: inline-block;
				margin-left: 0.5em;
				padding: 0 0.5em;
			}

				#nav > ul > li a {
					color: inherit;
					line-height: 4em;
					letter-spacing: 2px;
					text-decoration: none;
					font-weight: 400;
					font-size: 1em;
				}

				#nav > ul > li:first-child {
					margin-left: 0;
				}

				#nav > ul > li > ul {
					display: none;
				}
				
				#company-logo {
					float: left;
				}

	#company-name {
		font-size: 1.7em;
		padding-top: .3em;
	}
	
	#company-strip {
		position: relative;
		z-index: 3;
		padding-bottom: .5em;
		float: left;
	}
	
	#company-strip a img {
		width: 21em;
		margin-top: .6em;
	}
	
	#primary-action {
		float: right;
		padding-top: 1.3em;
	}
	
	#primary-action ul li {
		display : inline;
		padding-left: 0.4em;
	}
	
	#contact-info ul li a {
		text-decoration: none;
		color: inherit;
	}
	
	#contact-info ul li {
		display : inline;
		padding-left: 6em;
	}
	
	#tagline {
		font-size: 1.1em;
		padding-left: 7.8em;
	}
	
	div.why-choose-us {
	}
	
	p.why-choose-us {
		font-size: 1.0em;
		text-align: justify;
	}
	
	.just-link-no-css {
		text-decoration: none;
		color: inherit;
	}
	
	#top-navigation a:hover {
		color: #07224c;
	}
	
	.dropotron a:hover {
		color: #07224c;
	}
	
	input[type="text"], 
	input[type="password"], 
	input[type="email"], 
	input[type="date"],
	input[type="number"],
	textarea {
		display: inherit !important;
	}
	
	#contact-us-form-handler {
		padding-bottom: 5em;
	}
	
	.testimonial-calligraphy-font {
		font-family: 'Alex Brush', cursive !important;
		font-size: 2em !important;
	}
	
	.input-form-content {
		background-color: #ffffff;
		padding: 1em;
		border: solid 1px #6eaf98;
	}
	
	.input-form-content-withput-border-and-bgcolor {
		padding: 1em;
	}
	
	.form-content-color {
		color: #88909d;
	}
	
	/* .input-form-column {
		padding: 20px 0 0 50px !important;
	} */
	
.input-icon{
  position: absolute;
  left: 4px;  
  top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
}
input{
  padding-left: 17px;
  
}
.input-wrapper{
  position: relative;
}

.info-text::-webkit-input-placeholder { padding: 0px 5px 0px 15px;}
.info-text:-moz-placeholder {padding: 0px 5px 0px 15px;}
.info-text::-moz-placeholder {padding: 0px 5px 0px 15px;}
.info-text:-ms-input-placeholder {padding: 5px 10px 0px 15px;}

	/* Dropotron */

	.dropotron {
		top: 2em;
		background: #a8cdf4;
		border-radius: 4px;
		color: inherit;
		min-width: 12em;
		padding: 1em 0;
		margin-top: -0.8em;
		box-shadow: 0px 0px 5px 1px #000000;
		font-size: 1.0em;
	}

		.dropotron > li {
			line-height: 2em;
			padding: 0 1em;
		}

			.dropotron > li > a {
				color: inherit;
				letter-spacing: 2px;
				text-decoration: none;
			}

			.dropotron > li.active > a, .dropotron > li:hover > a {
				color: inherit;
			}

		.dropotron.level-0 {
			border-radius: 0 0 4px 4px;
			font-size: 1em;
			margin-left: -0.5em;
		}
		
		.testimonial-box {
			width: 100%;
			margin-left: -5px !important;
		}
		
		header.page-header {
			padding-bottom: 1em !important;
			text-align: inherit !important;
		}
		
		hr.page-header {
			border-top: solid 1px #6eaf98 !important;
			padding-bottom: 1em !important;
		}
		
		.testimonial-writer {
			text-align: right;
		}

	/* Banner */

	#banner {
		padding: 0em 0em 3em 0em;
		color: white;
		height: 5.1em;
		position: relative;
		z-index: 4;
		box-shadow: 0px 4px 10px 0px #000000;
		background: #10213a;
	}

		#banner .container {
			padding: 0em 0em;
		}

		#banner h2 {
			display: inline-block;
			padding: 0.50em 0.30em;
			font-size: 1.2em;
			font-weight: 400;
		}

		#banner span, #banner p {
			display: block;
			letter-spacing: 1px;
			font-size: 1.2em;
			font-weight: 300;
		}

		#banner span {
			padding: 0em 0em;
		}

	/* Main */

	#main {
		padding: 4em 0;
	}

		#main #content .major, #main #sidebar .major {
			text-align: left;
		}

		#main #sidebar section {
			margin-top: 4em;
		}

			#main #sidebar section:first-child {
				margin-top: 0;
			}

		#main #sidebar .major {
			padding-bottom: 2em;
		}

			#main #sidebar .major h2 {
				font-size: 1.8em;
			}
			
			#company-logo img {
				width : 4em;
			}
			
	/* Footer */

	#footer {
		padding: 6em 0 2em 0;
		text-align: center;
		color: #07224c;
		background-color: white;
	}

		#footer hr {
			border-bottom: 1px solid;
			border-color: inherit;
			opacity: .5;
		}

		#footer .major h2 {
			color: inherit;
		}

		#footer .major .byline {
			color: inherit;
			opacity: .4;
		}

		#footer .copyright {
			margin-top: 3em;
			text-align: center;
		}
		
		#footerlinks {
			clear: both;
		}
		
		#footerlinks ul li {
			display: inline;
			padding: 2em;
		}
		
		#footerlinks ul li a {
			text-decoration: none;
			color: #aea7b7;
		}
		
		#footerlinks ul li a:hover {
		    color: #10213a;
		}
		
		.big-screen {
			display : block;
		}
		
		.small-screen {
			display : none;
		}
		
		.full-container-responsive-element {
			width : 100% !important;
		}
		
		.full-container-responsive-element-jssor {
			 width : 100% !important;
		}
		
		/* .jssor_slides {
			width: inherit !important;
			height:  inherit !important;
		} */
		
		.restrain-width-for-interleaf-container-responsive-element {
			max-width : 250px !important;
		}
		
		.image-box-shadow {
			box-shadow:2px 2px 5px 1px #595d688f;
		}

	/* Copyright */

	#copyright {
		position: relative;
		text-align: center;
		padding: 1em 0em 3em 0em;
		color: inherit;
		opacity: .40;
	}

		#copyright a {
			text-decoration: none;
			color: inherit;
		}

	/* Extra */

	#extra1 h2 {
		display: block;
		margin-bottom: 1em;
		letter-spacing: 1px;
		line-height: 1.4em;
		font-size: 1.8em;
		font-weight: 400;
	}

	#extra1 h3 {
		display: block;
		margin-bottom: 1em;
		letter-spacing: 1px;
		line-height: 1.4em;
		font-size: 1.6em;
		font-weight: 400;
	}

	/* Team */

	#team h3 {
		margin-bottom: 0.50em;
		letter-spacing: 2px;
		font-weight: 700;
	}
	
	#team p {
	
	}
	
	.active {
	}
	
	#find-tutor
	{
		background: #c9dfed;
	}
	
	#find-tutor {
		padding: 4em 0;
	}

    #find-tutor #content .major, #find-tutor #sidebar .major {
			text-align: left;
	}

	#find-tutor #sidebar section {
			margin-top: 4em;
	}

	#find-tutor #sidebar section:first-child {
				margin-top: 0;
	}

	#find-tutor #sidebar .major {
			padding-bottom: 2em;
	}

	#find-tutor #sidebar .major h2 {
				font-size: 1.8em;
	}
	
	/*
	Hide the textbox of recaptcha
	*/
	.g-recaptcha textarea {
	    display: none !important;
	}
	
	.noscreen {
		display : none !important;
	}
	
	#home-people {
		box-shadow:0px 1px 10px 4px #89919b
	}
	
	#Our-speciality-img{
		box-shadow:2px 2px 3px 2px #0d062cde;
	}
	
	#speciality {
		text-align: center;
	}
	
  .panel {
		padding: 33px;
		border-radius: 6em;
		color: #10213a;
		background: white;
		text-align: center;
		border: solid 1px #10213a;	
		text-align: justify;
		width: 100%;
   }	
   
   .panel-testimonials {
		padding: 33px;
		border-radius: 3em;
		color: #10213a;
		background: white;
		border: solid 1px #10213a;
		text-align: justify;
		width: 100%;
		box-shadow: 0px 1px 6px 4px #8b8b8b;
   }		
			
  .primary-action1 ul ,li {
  	margin-top:0.8em;
  }
  
  .failureMessage {
		color: red !important;
		font-size: 1em !important;
	}
	
	.successMessage {
		color: #5d5871 !important;
		font-size: 1em !important;
	}
  
  	/* The Modal (background) */
	.modal {
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Sit on top */
	    padding-top: 200px; /* Location of the box */
	    left: 0;
	    top: 0;
	    width: 100%; /* Full width */
	    height: 100%; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgb(0,0,0); /* Fallback color */
	    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	
	/* Modal Content */
	.modal-content {
	    background-color: white;
	    margin: auto;
	    padding: 20px;
	    border: 2px solid #5d5871;
	    width: 80%;
	    max-width: 750px;
	    border-radius: 10px;
	}
	
	/* The Close Button */
	.close-modal {
	    color: #FFFFFF;
	    float: right;
	    font-size: 28px;
	    font-weight: bold;
	    border: 1px Solid #10213a;
	    background-color: #5d5871;
	}
	
	.close-modal:hover,
	.close-modal:focus {
	    color: #FFFFFF;
	    text-decoration: none;
	    cursor: pointer;
	    border: 1px Solid #10213a;
	    background-color: #10213a;
	}
	
	.close-modal-button {
	    color: #FFFFFF;
	    font-size: 28px;
	    font-weight: bold;
	    border-radius: 40px;
	    width: 40%;
	    text-align: center;
	    border: 1px Solid #10213a;
	    background-color: #5d5871;
	    margin-left: 30%;
	    height: 1.3em;
	}
	
	.close-modal-button:hover,
	.close-modal-button:focus {
	    color: #FFFFFF;
	    text-decoration: none;
	    cursor: pointer;
	    border: 1px Solid #10213a;
	    background-color: #10213a;
	}
	
	#notification-popup-model-content-section {
		clear: both;
		margin-left: 10%;
	}
	
	#alert-title {
		float: left;
		font-size: 2em !important;
	}
	
	.modal-line {
		border-bottom: 1px solid #10213a;
		clear: both;
		margin-top: 2.5em;
	}
	
	#subscribe-about-us {
	  color:red;
	  text-shadow: 1px 1px 1px #060635;
	}
	#subscribe-about-us:hover {
	  color:#060635;
	  text-shadow: 1px 1px 1px #060635;
	}
	
	.tub-basket {
		width: 80%;
	}
	
	/* The container */
	.checkbox-container {
	    display: block;
	    position: relative;
	    padding-left: 35px;
	    margin-bottom: 12px;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	
	/* Hide the browser's default checkbox */
	.checkbox-container input {
	    position: absolute;
	    opacity: 0;
	    cursor: pointer;
	}
	
	/* Create a custom checkbox */
	.checkmark {
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 25px;
	    width: 25px;
	    border: 1px solid #6eaf98;
	}
	
	#jssor_1 {
		width: inherit !important;
	}
	
	/* When the checkbox is checked, add a background */
	.checkbox-container input:checked ~ .checkmark {
	    background-color: #084154
	}
	
	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
	    content: "";
	    position: absolute;
	    display: none;
	}
	
	/* Show the checkmark when checked */
	.checkbox-container input:checked ~ .checkmark:after {
	    display: block;
	    background-color:#084154
	}
	
	/* Style the checkmark/indicator */
	.checkbox-container .checkmark:after {
	    left: 9px;
	    top: 5px;
	    width: 5px;
	    height: 10px;
	    border: solid white;
	    border-width: 0 3px 3px 0;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	    width: 7px;
	    height: 15px;
	}
	
	.loader {
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid #3498db;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 2s linear infinite; /* Safari */
	  animation: spin 2s linear infinite;
	  margin-left: 45%;
	}
	
	/* Safari */
	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}
	
	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}
	
	.terms-heading {
	    background-color: #ccc;
	    cursor: pointer;
	    padding: 18px;
	    width: 100%;
	    border: 1px solid #10213a;
	    text-align: left;
	    outline: none;
	    transition: 0.4s;
	}
	
	.terms-points {
	    padding: 10px 10px 0px 10px;
	    background-color: #c9dfed;
	    overflow: hidden;
	    border-bottom: 1px solid #10213a;
		border-left: 1px solid #10213a;
		border-right: 1px solid #10213a;
	}
	
	.accordion {
	    background-color: #ccc;
	    cursor: pointer;
	    padding: 18px;
	    width: 100%;
	    border: none;
	    text-align: left;
	    outline: none;
	    transition: 0.4s;
	}
	
	.accordion:hover, .accordion:active, .accordion:focus {
	    background-color: #ccc; 
	}
	
	/*jssor slider loading skin spin css*/
       .jssorl-009-spin img {
           animation-name: jssorl-009-spin;
           animation-duration: 1.6s;
           animation-iteration-count: infinite;
           animation-timing-function: linear;
       }

       @keyframes jssorl-009-spin {
           from { transform: rotate(0deg); }
           to { transform: rotate(360deg); }
       }

       /*jssor slider bullet skin 051 css*/
       .jssorb051 .i {position:absolute;cursor:pointer;}
       .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
       .jssorb051 .i:hover .b {fill-opacity:.7;}
       .jssorb051 .iav .b {fill-opacity: 1;}
       .jssorb051 .i.idn {opacity:.3;}

       /*jssor slider arrow skin 051 css*/
       .jssora051 {display:block;position:absolute;cursor:pointer;}
       .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
       .jssora051:hover {opacity:.8;}
       .jssora051.jssora051dn {opacity:.5;}
       .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
       
       /* Testimonials Slider */
       .prev, .next {
       	font-size: 2.5em;
       }
	/* The dot/bullet/indicator container */
	.dot-container {
	    text-align: center;
	    padding: 20px;
	}

	/* The dots/bullets/indicators */
	.dot {
	  cursor: pointer;
	  height: 15px;
	  width: 15px;
	  margin: 0 2px;
	  background-color: #bbb;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}
	
	/* Add a background color to the active dot/circle */
	.dot:hover {
	  background-color: #717171;
	}
	
	.question {
		border: 1px solid #10213a;
	}
	
	.answer-panel {
	    padding: 10px 10px 0px 10px;
	    background-color: #c9dfed;
	    overflow: hidden;
	    border-bottom: 1px solid #10213a;
		border-left: 1px solid #10213a;
		border-right: 1px solid #10213a;
	}
	
	.blinking {
	/* text-shadow:1px 1px 3px #060635; */
	text-shadow:1px 2px 2px #060635;
	color:red;
	font-size:22px;
	font-weight:bold;
	text-align:center;	
	}
	
	.blink {
		color: red;
		font-weight: bolder;
		display: block;
		
	}
	
	#student-grade-result
	{ display: inline-block;
	}
	
	.gallery-images {
		border: 2px solid aliceblue;
		box-shadow: 3px 2px 24px 3px;
		border-radius: 40px;
		cursor: pointer;
	}
	.text-image-centered {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  background: lightslategray;
		width: -moz-available;
		opacity: 0.9;
		height: 40px;
		font-size: 1.5em;
		cursor: pointer;
	}
	.text-image-container {
	  position: relative;
	  text-align: center;
	  color: white;
	}
